body{
    margin: 0;
}

header{
    background: linear-gradient( rgba(0, 0, 0),rgb(70, 70, 70));
    font-family:serif, sans-serif;
    color: white;
    
}

header div{
    display: inline-block;
}

.home{
    background-color: white;
    padding:5px 10px;
    color: black;
    
}
.items{
    padding: 10px 60px;
    font-size: 16px;
    
}

.top{
    width: 100%;
   
    padding: 0;
}

.middle img{
    display: inline;
   max-width:28%;
    height: 400px;
    margin: 0 20px;   
}

.middle{  
   padding: 15px;
}

footer{
    background-color: black;
    height: 450px;

    color: rgb(255, 255, 255);
    width: 100%;
}


footer p{
    display: inline-block;
    max-width:45%;
    padding: 10px;
}

footer img{
    max-width: 40%;
    padding: 30px ;
}